<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goshop.app">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>




    <application
        android:name=".GoShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d102a451221c09c217bb4743b3e7c95cf8f8fe69"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id"/>

        <activity android:name=".presentation.home.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".presentation.login.TestMenuActivity">

        </activity>
        <activity android:name=".presentation.account.LoginActivity"/>
        <activity android:name=".presentation.home.HomeActivity"/>

        <activity android:name=".presentation.home.MainHomeActivity"/>
        <activity android:name=".presentation.home.PromotionLandingListActivity"/>
        <activity android:name=".presentation.home.PromotionBannerActivity"/>
        <!-- FACEBOOK -->
        <activity
            tools:replace="android:theme"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />

        <activity android:name=".presentation.login.RegisterActivity"
            android:theme="@style/WhiteBackground"/>

        <activity android:name=".presentation.login.LoginComplementEmailActivity"
            android:theme="@style/WhiteBackground"/>

        <activity android:name=".presentation.login.LoginResetPasswordActivity"
            android:theme="@style/WhiteBackground"/>

        <activity android:name=".presentation.login.LoginSendConfirmationLinkActivity"
            android:theme="@style/WhiteBackground"/>

        <activity android:name=".presentation.shopping.ProductDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/WhiteBackground"/>

        <activity android:name=".presentation.search.SearchActivity"
            android:theme="@style/WhiteBackground"/>

        <activity android:name=".presentation.search.SearchResultActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:theme="@style/WhiteBackground">
        </activity>





    </application>


</manifest>